
.avatar-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.video-card {

    height:70vh;
    
}

.left-side {
    
    /* background-image: radial-gradient(ellipse,#bccae2, #cbd1db); */
    height: 100vh;
}

.left-side p
.right-side p
 {
    font-weight: lighter;
}

.chat-box {
    height: 70vh;
    width: 100%;
    background:rgba(223, 231, 245,0.2);
    
}

.right-side {
    /* background-image: linear-gradient(#bccae2, #cbd1db); */
    margin-left: 0;
    height: 100vh;
}

.chat-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-image: url('../img/bg.png');
}

.chat-avatar-img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.chat-message {
    padding: 10px;
}

.chat-back-arrow {
    text-align: left !important;
    padding: 10px;
}

.first-flex {
    width: 50%;
}
.second-flex {
    width: 50%;
}

.chat-field > input,
.foot-text {
    
    width: 83%;
    position: relative;
    right: 0;
    left: 50px;
}




@media only screen and (max-width: 768px) {
  
   .chat-wrap {
       flex-direction: column;
       justify-content: space-around;
   }
   .first-flex,
   .second-flex {
       width: 100%;
   }

   iframe {
       height: 40vh;
   }
   
   
  } 